GEMINI_API_KEY = AIza**********************************
LANGSMITH_TRACING="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv************************************************"
LANGCHAIN_PROJECT="CloudDash"